{%extends "base.html"%}
{% block content %}
<h1>Profile</h1>
{%if user.is_authenticated%}
   {%if user.id == profile.id %}
   <a href="{% url 'instagram_profile:add_post' %}">Add post</a>
   <a href="{%url 'instagram_profile:update_profile' profile.id%}">Update profile</a>
   <a href="{% url 'accounts:password_change' %}">Password Change Form</a>
   {%else%}
   <a href="{% url 'chat:chat_create' profile.user.username %}">Send message</a><br><br>
   <form id="subscribe-form" method="POST">
     {% if is_subscribed %}
     <button type="submit" value="{{profile.id}}" class="unsubscribe" name="profile-id" id="profile-id">Unsubscribe</button>
     {%else%}
     <button type="submit" value="{{profile.id}}" class="subscribe" name="profile-id" id="profile-id">Subscribe</button>
     {%endif%}
   </form>
   {%endif%}
{%endif%}
<h2>{{profile.user.username}}</h2>
<p><strong>Posts:</strong>{{profile.get_count_of_post}}</p>
<p><a href="{% url 'instagram_profile:subscribers_list' profile.user.username %}">Subscribers</a>:<strong id="count-subscribers">{{profile.get_count_of_subscribers}}</strong></p>
<p><a href="{% url 'instagram_profile:followers_list' profile.user.username %}">Followers</a>:{{profile.get_count_of_followers}}</p>
<p><strong>Bio:</strong>{{profile.bio}}</p>
<img src="/media/{{profile.image_pic}}" width="400" height="400">
<h2>Posts:</h2>
{%for p in post %}
<a href="/post/{{profile.id}}/{{p.id}}"><img src="/media/{{p.first_image}}" width="200" height="200"></a>
{%endfor%}
<script>
  $('#subscribe-form').submit(function(e){
    e.preventDefault()
    var profile_id = $("#profile-id").val();
    var user_id = "{{request.user.id}}";
    if ($("#profile-id").attr('class')==='subscribe'){
      $.ajax({
        type:'post',
        url:"{% url 'api:add_subscriber' %}",
        data:{
          "profile_id":profile_id,
          "user_id":user_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType:'json',
        success:function(response){
          $("#profile-id").html("Unsubscribe").removeClass("subscribe").addClass("unsubscribe")
          $("#count-subscribers").html(response["subscriber_count"])
        },
        error:function(e,response){
          console.log(e,response.responseText)
        }
      })
    } else if ($("#profile-id").attr('class')==='unsubscribe'){
      $.ajax({
      type:'delete',
      url:"{% url 'api:delete_subscriber' profile_id=profile.id user_id=request.user.id%}",
      data:{
      },
      dataType:'json',
      success:function(response){
        $("#profile-id").html("Subscribe").removeClass("unsubscribe").addClass("subscribe")
        $("#count-subscribers").html(response["subscriber_count"])
      },
      error:function(e,response){
        console.log(e,response.responseText)
      }
    })
   }
  })

</script>
{% endblock %}
