{% load static %}
<html>
<head>
  <meta charset="utf-8">
  {%block title%}
  <title>Index</title>
  {%endblock%}
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'js/index.js'%}"></script>
</head>
<body>
  <div>
    <div id="nav">
      {%if request.user.is_authenticated%}
      <p>User:{{request.user.username}}</p>
      <p><a href="{% url 'chat:inbox' %}">Inbox</a></p>
      <a href="{% url 'instagram_profile:profile' request.user.profile.id%}"><img src="/media/{{request.user.profile.image_pic}}" width="100" height="100"></a>
      <a href="{%url 'accounts:logout' %}">Logout</a>
      {%else%}
      <p>Login</p>
      {%endif%}
    </div>
  </div>
  {% block content %}
  {% endblock %}
  {% block javascript %}
  {% endblock %}
</body>
</html>
